.RData
*test/
validation/results/
validation/dbs/
*null/
*.nextflow*
validation/work/
microbial_decontamination/results/
inputs/
validation/seqs/
*.gff3
*.fa
*.Rproj
.Rhistory
.RDataTmp
*.fasta
.DS_Store
.Rproj.user/
